<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ever Ready Ministry International </title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab - v4.6.0
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">info@everreadyministry.com</a>
        <i class="bi bi-phone"></i> 080309891377
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">EVER READY MINISTRY INTERNATIONAL</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Message</a></li>
          <li><a class="nav-link scrollto" href="#departments">Sermons</a></li>
          <li><a class="nav-link scrollto" href="#faq">Testimonies</a></li>
          <li><a class="nav-link scrollto" href="#abouts">History</a></li>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="" class="appointment-btn scrollto"><span class="d-none d-md-inline">Join</span> community</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h2>" Be ye therefore ready also for the Son  <br>of man cometh at an hour when ye<br> think not".  </h2>
      <a href="" class="btn-get-started scrollto">Luke 12:40</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Who Are We?</h3>
              <p>
                The church is a MANDATED Ministry by God Himself for Soul Winning in preparation for the Second Coming of Our Lord Jesus Christ.
                The name Ever Ready Ministry International is predicated on Luke 12:40 "Be ye therefore ready for the Son of Man cometh at an hour ye know not"

* Ever Ready Ministry International is  mandated to win SOULS for our Lord Jesus Christ and reconcile men to God. It is an uncommon Ministry where everybody is somebody and equal before Our Lord Jesus Christ. We invite you to fellowship with us in the beauty of His Holiness
                
              </p>
              <div class="text-center">
                <a href="/users/register" class="more-btn">Join<i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>VISION</h4>
                    <p style="text-align:left;">The vision of this Ministry is premised on the Word of God as written in the book of Luke 12:40 " Be ye therefore ready also for the Son of man cometh at an hour when ye think not". This presupposes a life of stock taking of one's relationship with Him seconds by seconds. It entails self examination of our actions, conduct, activities, words of mouths, the deeds of bodies and the state of our hearts towards God. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4 >MISSION</h4>
                    <p style="text-align:left;">Using the word of God to redeem human beings from Satan and reconcile them to God so that we can fulfill the five purposes God created us for: </br> To love Him </br> To be part of His Family </br>  To become like Him </br> To serve Him </br> To tell others about Him</br>  The DIVINE commandments of the Lord, that is, Ten Commandments. </br> We are mindful of where our souls go to upon death. Preparing you to meet Jesus Christ on His second coming is a task that must be accomplished. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>CORE BELIEFS</h4><p style="text-align:left;">
                      Jesus Christ is LORD.</br>  
                      Trinity in one God.</br>  
                      The Second Coming of Jesus Christ.</br>  
                      Repentance; and Salvation from Jesus Christ.</br>  
                      Death and Resurrection of Jesus Christ.</br>  
                      Communion</br> 
                      The Scripture is inspired by the Spirit of God.

                      </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=5lvU-DislkI" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>MESSAGE</h3>
            <p>Being ready for our Lord Jesus Christ is all about how you live your life especially in those secret dark places of your hearts. How much of Jesus Christ do you profess in your household and work places? We desire that you succeed in this race to  heaven as we earnestly wait and expect the second coming of our Lord Jesus Christ. Live holy and seek Him. </p>

            <div class="icon-box">
              <h4 class="title"><a href=""> The name Ever Ready Ministry International is predicated on Luke 12:40 "Be ye therefore ready for the Son of Man cometh at an hour ye know not</a></h4>
            </div>

            <div class="icon-box">
              <h4 class="title"><a href="">Ever Ready Ministry International is  mandated to win SOULS for our Lord Jesus Christ and reconcile men to God. It is an uncommon Ministry where everybody is somebody and equal before Our Lord Jesus Christ. We invite you to fellowship with us in the beauty of His Holiness in Jesus mighty name amen.</a></h4>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  
    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>SERMONS</h2>

        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">AMEN!!!</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">PLACING YOUR PRIORITY RIGHT</a>
              </li> 
              
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3"> HELL AND DESTRUCTION ARE NOT FULL: SO THE EYES OF MAN ARE NEVER SATISFIED. Proverbs 27:29 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">BE READY FOR THE SECOND COMING OF OUR LORD JESUS CHRIST AS if HE IS COMING NOW!!! </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">STOP COMDEMING YOURSELF!!!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">A WARNING TO THE HYPOCRITES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">NO NEED FOR HIGH BLOOD PRESSURE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-8">BE ON THE LORD'S SIDE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-9">HEAVENLY RACE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-10">SAY TO YOURSELF</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AMEN</h3> 
                    <p>Do not say Amen to what you do not understand because you may be signing out your life without knowing it. Amen means  "SO BE IT" Remain blessed in Jesus mighty Name Amen.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>

              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>PLACING YOUR PRIORITY RIGHT</h3>
                    <p>Lay up treasures in Heaven, for where your treasure is, there your heart is. Matthew 6:19-21. How do we lay up  heavenly treasure? By preaching the gospel of Our Lord Jesus Christ, winning souls, encouraging people with the word of God, put a smile on someone's face by saying Jesus loves you, living life worthy of emulation by your neighbors and associates, giving to the poor, being pure at heart and finally bearing all the fruits of the Holy Spirit as written in Galatians 5:22.
                      How do we lay up treasures on earth? We lay up treasures on earth by acquiring  only what the earth can offer and they are all VANITY!!! Therefore, I encourage you to lay up treasures in Heaven and our Lord Jesus Christ will reward you immensely. Stay blessed in Jesus Name Amen</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>HELL AND DESTRUCTION ARE NOT FULL: SO THE EYES OF MAN ARE NEVER SATISFIED. Proverbs 27:29</h3>
                    <p>HELL AND DESTRUCTION ARE NOT FULL: SO THE EYES OF MAN ARE NEVER SATISFIED. Proverbs 27:29
                       </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>BE READY FOR THE SECOND COMING OF OUR LORD JESUS CHRIST AS if HE IS COMING NOW!!! </h3>
                    <p>BE READY FOR THE SECOND COMING OF OUR LORD JESUS CHRIST AS if HE IS COMING NOW!!!  </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>STOP COMDEMING YOURSELF!!!</h3>
                    <p>You are better than most PASTORS. Continue to work out your salvation with fear and trembling. See Philippians 2:12. Stay blessed in Jesus Name Amen.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>A WARNING TO THE HYPOCRITES</h3>
                    <p>In the beginning was the word and the word was with God and the word was God. In 1st Samuel 2:6 the Bible says that the Lord kills and makes alive. As you you are carrying, reading and quoting the word of God, make  sure you get life that is in the word of God and not death. It is dangerous to be a fake believer because hypocrite could be killed by God Himself. Be strong and of good courage. As a genuine child of God your reward is greater than your pain. Remain blessed in Jesus Name Amen.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>NO NEED FOR HIGH BLOOD PRESSURE</h3>
                    <p>Look at the birds of the air, for they neither sow nor reap nor gather into barns; yet our heavenly father feeds them. Are you not of more value than  they? Which of you by worrying can add one cubit to his stature? Matthew 6:26-27. I Pastor Sharon Philip-  Egbebu said in my last sermon that the Lord shall bless whatever your hands find doing. Please stop worrying and cast your burdens to God, who is your burden bearer. 1st Peter 5:7 Our future is in the hands of God, let's take one day at a time and allow God to take care our future. You are blessed in Jesus Name Amen.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>BE ON THE LORD'S SIDE</h3>
                    <p>So then because thou art lukewarm, neither cold nor hot, I will spew thee out of my mouth. See Revelation 3:16. The moment of decision is now. Take a stand on whom you will worship. Stop faltering between two opinions. Elijah told the Israelites on Mount Carmel if God is God follow Him. 1Kings 18:21. Stay blessed in Jesus Name Amen.
                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-9">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>HEAVENLY RACE</h3>
                    <p>Do you not know that those who run in a race all run, but one receives the prize? Run in such a way that you may obtain it. And everyone who competes for the prize is temperate in all things. Now they do it to obtain a perishable crown, but we for an imperishable crown. Therefore I run thus: not with uncertainty. Thus I fight not as one who beats the air. But I discipline my body and bring it into subjection, lest, when I have preached to others, I myself should become disqualified. 1 Corinthians 9:24-27. God bless you all in Jesus Name Amen.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-10">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>SAY TO YOURSELF</h3>
                    <p>  I PLEDGE TO STAND TO STAND FAULTLESS BEFORE THE THRONE WHEN JESUS CHRIST COMES THE SECOND TIME. BUT BY STRENGTH SHALL NO MAN PREVAIL. 1 Samuel 2:9. SO HELP ME GOD.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->

    
    <section id="abouts" class="abouts">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 justify-content-center align-items-stretch position-relative">
            <a href="assets/img/ps.jpg" >
              <img src="assets/img/ps.jpg" alt="" class="img-fluid">
            </a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>HISTORY AND FOUNDING OF EVER READY MINISTRY INTERNATIONAL</h3>
            <p>The Founder and General Overseer of Ever Ready Ministry International is the repository of the history of the Ministry as mandated by God Himself.
              The Founder and General Overseer Pastor/Mrs Sharon Philip Egbebu became born Christian and a believer in our Lord Jesus Christ in 1994 at Aba, Abia State of Nigeria.
             Sometimes in 1995 God began to appear to her almost on daily basis. Obviously, it was a strange experience; and a fearful one indeed. Towards the end of 1995, the Lord appeared again to the Founder in a vision and took her on tour of some existing churches around the world. From church to church, the Lord and Pastor Sharon, discovered that all the churches were not emphasizing the Second Coming of Our Lord Jesus Christ. The Lord Pastor Sharon, 'you see the churches are doing their own thing'. The churches are more inclined to preaching prosperity, signs and wonders. The Lord manifestly angry declared to Pastor Sharon that He will disappoint them on the last day. To demonstrate that the church is not seriously  preaching the second coming of our Lord Jesus Christ, He commanded the Founder to go to one of the existing churches and tell the good news of the second coming of our Lord Jesus Christ. Pastor Sharon with the Lord by her side went to one of the existing churches and said to them: "Jesus Christ is coming soon" . But the members blurted "who is this mad woman". They did not know that Jesus was right inside the church with Pastor Sharon.
              Then Jesus said to the Founder, you have seen that these churches rejected the message of my second coming. Now let us go to the streets. On the street, the Lord and Pastor Sharon met a drunk man. The Lord said to her speak to him. But Pastor Sharon said to Him, my Lord, those in the churches did not listen to me, how can this drunk man listen to me? Still, the Lord said, speak to him. Pastor Sharon stepped towards the drunk man and said, "Oga, Jesus is coming soon". The drunk man jolted and said thus: " Woman there is fire in your eyes. I have sinned greatly and even killed many people. Will the Lord forgive me of all these sins" Pastor Sharon answered the drunk man, if you repent and believe in our Lord Jesus Christ He will forgive you of all these sins even now. The drunk man knelt down and Pastor Sharon prayed for him. Henceforth, the Lord commanded Pastor Sharon to go after this type of people because those in the churches did not listen to her. Most of them did not listen they feel they know Me and they are not teachable and are arrogant. Then the drunk man became the first member of Ever Ready Ministry. </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->




    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonies</h2>
          <p>In the course of my numerous encounter and in the service of God, He has used me to perform many miracles some of which are as follows</p>
        </div>

        <div class="faq-list">
          <ul>
           


            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-target="#faq-list-2" class="collapsed">On the December, 1999 the Lord sent me to a church located at No 44 Okigwe Road Aba Abia State Nigeria. There I bound a witch who was ordained Deaconess and commanded her to loose the members of the church especially pregnant women. When confronted by the Pastor and the Elders of the church, she confessed to have been a witch from birth before the members of the church. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-target="#faq-list-2" class="collapsed">I met a woman who work in the Abia State Government House Umuahia in Hair Dressing Salon where I went to do my hair. As I was entering the Salon, the woman started screaming that she was falling into a Pit. She said she did not see me rather she saw a man in a white robe radiating with brilliant light. She humbly requested that I pray for her. When I prayed for her, the Lord revealed that " she is a thief" as written in John 10:10( the thief cometh not but to steal, to kill and to destroy). I sent for the woman to see me. When she came I told her that the Lord said she is a thief. She confessed that she was a thief. I told her to repent because the wages of sin is death. Then as I was about to attend to other things she held my garment and told me that she steals JOY. I wondered what that meant and how? She further confessed that whenever any person shares a joyful news with her, she will steal the JOY and replace it with SORROW. She marveled at the power of God because according to her she dined and wined monthly at different times with three supposed great and powerful men of God yet they could not find her out. Since then she visits that Salon every morning on her way to work to observe moment of solitude saying " this is where I met Jesus Christ". She and her family became members of Ever Ready Ministry to the glory of God. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>    <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-target="#faq-list-2" class="collapsed"> member of the church ( name withheld) had 28 years old cancer before meeting me ( Pastor Sharon). He was brought to my office by a member of the Ministry with his cancerous legs dripping pus and blood. He said his doctor swore that he will not live beyond 20 days. I commenced prayers immediately begging God to release His healing upon him. As I was praying, the man said he saw fire burning on my table with a man's legs inside the fire. And I continued praying the Lord showed a fat rodent come out from his leg, Only I saw the rodent but I told him. I continued praying for some days and he was completely healed. He came to my office to show himself looking robust and healthy. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>    <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-target="#faq-list-2" class="collapsed"> A young lady lawyer came to me complaining that she was not having suitors and she was advancing in age. I told her I will enquire of the Lord what the problem was. When I enquired of the Lord He told me that the lady was sleeping with a married man to the knowledge of the wife who placed a curse on  her. I told her this was not a case of binding and casting. But a case of leaving the married man alone and begged God for mercy with prayer and fasting. She did as I told her and the Lord showed her mercy. Few months later she got married and has children. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>    <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-target="#faq-list-2" class="collapsed">Another member came seeking the face of God for her husband to get a job. As usual I enquired of the Lord and the Lord told me that the woman was responsible for her husband's joblessness. The Lord said she was sleeping with other men other than her husband. In the course of her immoral life she went and closed her womb to prevent pregnancy from her many men. The Lord cursed her by giving her the responsibility of her husband to fend for the family while her husband stays at home with the children. I invited her to receive her message from God. She came and I asked her what is that in your tummy you are using to prevent pregnancy? She broke down in profuse tears and confessed that she has sleeping with many men outside her marriage. She said she thought God sent those men to help her in her difficulty. She repented and asked for mercy from God. She was forgiven and within few weeks her husband got a good paying job and took up his role of fending for his family to the glory of God. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>    <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-target="#faq-list-2" class="collapsed">A lawyer was afflicted with insanity and he abandoned his office, clients, home, and properties; and was driven by the spirit to live in the bush for 9 years. Every attempt by the family for solution failed. The sister a banker called me on phone and narrated her travails concerning her brother. She begged sobbing to pray for her brother. I enquired of the Lord and He took me to the bush where the lawyer was living. The Lord asked me, " Can this man live?" And I answered, Oh Lord thou alone knowth. The Lord said " he shall live again" and I responded Amen. The Lord gave me the pattern of the prayer-- 7 times in three places-- meaning 21 days of fasting and praying. I informed the sister and we started fasting and praying on phone as they were both outside Abuja. On the 14th day of the fasting and praying, the Lord took me again to the lawyer in the bush; he was bound in chains with a raving mad demon. There was a padlock holding the chains. The Lord gave me a key to open the padlock and loose the lawyer. The lawyer went by right hand side and the demon went by my left hand side. From that day he became sane and of sound reasoning. I called the sister on phone to go and take her brother home from the bush. Since then the lawyer has gone back to practice. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>
 
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
  <div class="container">

    <div class="section-title">
      <h2>Gallery</h2>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutters">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
            <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Gallery Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      </div>

      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31529.15987599779!2d7.339137563041202!3d8.958785271970026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e724ce523c71b%3A0xd9e4fb48232178e7!2s900109%2C%20Lugbe!5e0!3m2!1sen!2sng!4v1653741215924!5m2!1sen!2sng" width="1600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Plot 138 1Rm Lugbe FHA Abuja, FCT.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@everreadyministry.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+234 8030989137 </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="https://formspree.io/f/mayazjar"  method="POST">
            <label>
              Email:
              <input type="email" name="_replyto">
            </label>
            <label>
              Your message:
              <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button type="submit">Send</button>
          </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Ever Ready Minstry International</h3>
            <p>
              Plot 138 1Rm Lugbe FHA Abuja, FCT.</br>
              <strong>Phone:</strong> <p>+234 8030989137<br>
              <strong>Email:</strong> info@everreadyministry.com<br>
            </p>
          </div>

          
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#departments">Policies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#faq">FAQ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>
        </ul>


        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Ever Ready Ministry International</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
          Designed by <a href="https://www.facebook.com/vincent.onoja.5891">Vincent</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://web.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/ class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    var form = document.getElementById("my-form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.innerHTML = "Thanks for your submission!";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>

</body>


</html>
